@keyframes sliderr{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-100%);
    }
}
.logos{
    position: relative;
    background-color: var(--Contact-Heading);
    overflow: hidden;
    padding: 10px 0px;
    white-space: nowrap;
}
.logos-slide{
    display: inline-block;
    animation: sliderr 30s linear infinite;
}
.logos::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 20vw;
    background: linear-gradient(to left,rgba(255, 255, 255, 0),rgb(14, 230, 238));
    z-index: 2;
}
.logos::after{
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    height: 100%;
    width: 20vw;
    background: linear-gradient(to right,rgba(255, 255, 255, 0),rgb(29, 234, 248));
    z-index: 2;
}
.logos-slide img{
    margin: 0px 40px;
    height: 50px;
    display: inline-block;
    max-width: fit-content;
}
@media only screen and (max-width:757px){
    .logos-slide img{
        margin: 0px 20px;
        height: 30px;
    }
    .logos::before,.logos::after{
        width: 30vw;
    }
    .logos{
        padding: 30px 0px;
    }

}