/* art of Mobiler responsive Navigation */

a {
    color: white;
}


.m_navbar ul{
    overflow: auto;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: 0;
    background-color: transparent;
    position: fixed;
    left: 0;    
    margin-top: 30px;
    width: 100%;
    animation: slideDown 0.5s ease forwards;
    
}
.m_navbar>ul{
    
    background-color: rgba(0, 0, 0, 0.5);
}
.menu.show {
    animation: slideUp 200ms ease forwards;
}
.m_navbar>ul>li>a{
    color: white;
    
}
.m_navbar>ul>li{
    margin: 10px;
}



@keyframes slideDown {
    from {
        height: 0;
    }

    to {
        height: 11rem;
    }
}

@keyframes slideUp {
    from {
        height: 11rem;
    }

    to {
        height: 0;
    }
}

/* End of Mobile responsive Navigation */


.smooth-underline-transition {
    position: relative;
    text-decoration: none;
}

.smooth-underline-transition::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: yellow;
    transform: scaleX(0);
    transform-origin: 50%;
    transition: transform 0.3s ease;
}

.smooth-underline-transition:hover::after {
    transform: scaleX(1);
}

.dropdown-toggle::after {
    display: none !important
}

.dropdown-toggle {
    background-color: transparent;
    border: none;
}

.dropdown-toggle:hover {
    background-color: transparent;
    border: none;
}

.nav-logo {
    width: 70px;
}

.glassglass {
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.0);
}
.toggleNavColor{
    color: var(--text-color);
}
@media only screen and (max-width:767px) {

    .nav-pad {
        padding: 0.5rem;
    }
}

@media only screen and (min-width:1100px) {

    .nav-pad {
        padding: 0.7rem;
    }
}

@media only screen and (min-width:1400px) {
    .nav-logo {
        width: 80px;
    }

}


/* Front LANDING PAGE CSS */
.lets_talk{
    color: white;
}
.lets_talk span{
    color: rgb(288,288,0);
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    padding: 5px 10px;
}
.lets_talk span:hover{
    text-decoration: underline;
    text-underline-offset: 4px;
}