.contain{
  color : white ;
  padding: 2rem 23vw;
  position: center;
  height: 50vw;
}

.slide1{
  background-image: url("../assets/ThirdPageImages/Laptop_Image.png");
}
.slide2{
  background-image: url("../assets/ThirdPageImages/Laptop_Image.png");
}
.slide3{
  background-image: url("../assets/ThirdPageImages/Laptop_Image.png");
}
.slide4{
  background-image: url("../assets/ThirdPageImages/Laptop_Image.png");
}
.slide5{
  background-image: url("../assets/ThirdPageImages/Laptop_Image.png");
}
.slide6{
  background-image: url("../assets/ThirdPageImages/Laptop_Image.png");
}
.slide7{
  background-image: url("../assets/ThirdPageImages/Laptop_Image.png");
}
.slide8{
  background-image: url("../assets/ThirdPageImages/Laptop_Image.png");
}

.slides{
  background-size: 80%;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
}

.sliderwrapper{
  position: relative;
  height: 100%;
  overflow: hidden;
}

.slider{
  height: 90%;
  display: flex;
  aspect-ratio: 16/9;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 0.5rem;
}

.slider div{
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}

.slider-nav{
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 9rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slider-nav button {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #e78787;
  opacity: 0.75;
  transition: opacity ease 250ms;
}

.slider-nav button:hover{
  opacity: 1;
  width: 0.75rem;
  height: 0.75rem;
}

.contunt{
  position: absolute;
  bottom: 30px;
}

.servh{
  font-size: calc(1.325rem + .9vw);
}

@media screen and (max-width:1000px)
{

  .slide1{
    background-image: url("../assets/ThirdPageImages/Vert.jpg");
  }

  .contain{
    padding: 2rem 15vw;
  }

  .contain, .sliderwrapper{
    height: 90vh;
    width: auto;
  }

  .slides{
    background-size: 40%;
  }

  .slider-nav{
    bottom: 6rem;
  }

}

@media screen and (max-width:475px){

  .contain{
    padding: 2rem 0;
  }

}