.ThirdPage{
     background: linear-gradient(-45deg, #BA274A,#266dca);   
    background-size: 400% 400%;
    -webkit-animation: AnimationBackground 20s ease infinite;
    -moz-animation: AnimationBackground 20s ease infinite;
    animation: AnimationBackground 20s ease infinite;
    display: grid;
    grid-template-columns: 0.4fr 0.7fr;
}
@-webkit-keyframes AnimationBackground {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationBackground {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationBackground {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}


.ourwork{
    color: var(--ThirdPage-Buttons);
}
.case_studies{
    color: var(--ThirdPage);
    font-size: 2rem;
}
#successful{
    color: var(--card56-yellow);
    font-size: 2rem;
}
.rightside{
    color: var(--text-color);
}
.rightside .head{
    font-size: 24px;
    color: var(--ThirdPage-Head);
}
.rightside div button{
    background-color: var(--ThirdPage-Head);
    color: var(--ThirdPage);
    font-family: 'Poppins',sans-serif;
    transition: all 0.2s ease;
}
.rightside div button:hover{
    font-family: 'Poppins',sans-serif;
    background-color: red;
}
.ThirdPage{
    height: 500px;
}
@media only screen and (max-width:800px){
    .ThirdPage{
        grid-template-columns: 1fr;
        height: auto;
    }
    .rightside{   
        overflow: hidden !important; 
    }
    
}