@keyframes slideFromBottom {
    0% {
        color: white;
        opacity: 0;
        margin-top: 20rem;
        color: transparent;
    }

    100% {
        color: yellow;
        opacity: 1;
        margin-top: 0;
    }
}

.sliding-text {
    animation: slideFromBottom 2s forwards;
}

.animate-bounce {
    animation-delay: 6s !important;
}

#content_types {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.scrollText{
    color: transparent;
    -webkit-text-stroke: 1px aqua;

}