@keyframes slideFromBottom {
    0% {
        color: white;
        opacity: 0;
        margin-top: 20rem;
        color: transparent;
    }

    100% {
        color: yellow;
        opacity: 1;
        margin-top: 0;
    }
}

.sliding-text {
    animation: slideFromBottom 2s forwards;
}
.animate-bounce{
    animation-delay: 7s !important;
}