/* JQUERY ANIMATIONS HERE! */
.creating_experiences,.digital_landscape,.card1,.card2,.card3{
    opacity: 0;
}
.creating_experiences.animate__animated,.digital_landscape.animate__animated,.card1.animate__animated,.card2.animate_animated,.card3.animate__animated{
    opacity: 1;
}

/* JQUERY ANIMATIONS HERE! */


@keyframes slideFromBottom {

    0% {
        color: white;
        opacity: 0;
        margin-top: 20rem;
        color: transparent;
    }

    100% {
        color: yellow;
        opacity: 1;
        margin-top: 0;
    }
}

.sliding-text {
    animation: slideFromBottom 2s forwards;
}

.animate-bounce {
    animation-delay: 6s !important;
}

#content_types {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.scrollText{
    color: transparent;
    -webkit-text-stroke: 1px aqua;

}