@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-image: url(bodyImage.png);
}
:root{
  --spancolor:rgb(280,280, 0);
  --text-color:white;
  --background-color:rgb(25, 49, 63);
  --text-button-color:rgb(1, 225, 255);
  --svg-color:white;

  --card-1-color: rgb(79, 173, 70);
  --card13-purple: #257c7c;
  --card56-yellow: #f1c40f;
  --card79-blue: #8865c9;

  /* Third Page color Theme, selected from colorhunt.co */
  --ThirdPage:#070F2B;
  --ThirdPage-text:#9e9cc7;
  --ThirdPage-Head:#d9ff00;
  --ThirdPage-Buttons:#FFE3CA;
}
.l_theme{
  --spancolor:red;
  --text-color:black;
  --background-color:rgb(192, 165, 201);
  --text-button-color:rgb(280,280, 0)
  --svg-color:red;

  --card-1-color: rgb(89, 96, 128);
  --card13-purple: #8961b8;
  --card56-yellow: #f1948a; 
  --card79-blue: rgb(216, 102, 191);

  /* Third Page colors for the lighTer Theme */
  --ThirdPage:#F0F3FF;
  --ThirdPage-Head:#211951;
  --ThirdPage-text:#836FFF;
  --ThirdPage-Buttons:#15F5BA;

}
