@tailwind base;
@tailwind components;
@tailwind utilities;


/* Scrollbar for GPT */

::-webkit-scrollbar {
    width: 10px;
}


::-webkit-scrollbar-thumb {
    background-color: red;
    border-radius: 2px;
}


::-webkit-scrollbar-track {
    background: white;
}

@media only screen and (max-width:787px) {
    ::-webkit-scrollbar {
        width: 3px;
    }
}